
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-report/
/allure-results/
reporting-labs.history.json
#env files (confidentials):
config/.env.* 
!config/.env.example
#build
dist/
#OS files
.DS_store
Thumbs.db

 